body{
  /* width: 100vh; */
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(white, #301934);
  margin: 0;
  padding-left: 15%;
  padding-right: 15%;

}

.miniProject{
  height: 120px;
  /* border: 5px solid black; */
}

.miniProject:hover{
  /* border: 5px solid red; */
  /* transition: border .75s; */
}

.bigProject{
  height: 150px;
  /* border: 8px solid black; */
}

.bigProject:hover{
  /* border: 8px solid red; */
  /* transition: border .75s; */
}

#miniProjectsDiv, #bigProjectsDiv{
  display: flex;
  justify-content: space-evenly;
}

#miniProjectsDiv{
  margin-top: 4%;
}

#bigProjectsDiv{
  margin-top: 2%;
}

h1, h2{
  font-family: 'Courier New', monospace;
  text-align: center;
}

img{
  opacity: 60%;
  padding: 0;
  margin: 0;
  box-shadow: 0px 0px 0px 0px white;
  z-index: 1;
}

img:hover{
  z-index: 100;
  opacity: 100%;
  box-shadow: 0px 0px 100px 10px white;
  transition: opacity .4s;
  transition: box-shadow .8s;
  cursor:pointer;
}

#previewText{
  color: white;
  margin: 0;
  margin-top: 4%;
  z-index: 101;
}

#welcomeText{
  margin-top: 6%;
}
